@{
    ViewData["Title"] = "About";
}

<h1>This is a page for information about my project and me</h1>
<div style="margin-top: 32px; font-weight: bold; font-size: 24px">
    <p>Name: Stivan Uzunov</p>
    <p>Age: 23</p>
    <p>City: Stara Zagora</p>
    <p>Job: QA Specialist at ClouDNS</p>
    <p>This is one of my first projects. It is a project for C# ASP.NET Core course from Softuni. Hope you like it! :)</p>
</div>
