@model EditMemeFormModel

@{
    ViewData["Title"] = "Edit Meme";


}

<div class="row">
    <div class="col-lg-6 offset-lg-1 col-sm-12">
        <h1 class="heading-margin">Edit Meme</h1>
        <form method="post">
            <div class="form-group">
                <label asp-for="ImageUrl">Image URL</label>
                <input class="form-control" asp-for="ImageUrl" placeholder="The Image URL of the Meme">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description">Meme Description</label>
                <textarea class="form-control" rows="5" asp-for="Description" placeholder="Description of the Meme"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <input class="btn btn-primary float-right" type="submit" value="Save" />
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/> 
}
